
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(160, 229, 252);
}

/* Center everything */
.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Responsive video */
video {
    width: 90%;
    max-width: 800px;
    height: 50%px;
    max-height: 600px;
    display: block;
}

/* Progress bar container */
.progress-container {
    width: 90%;
    max-width: 800px;
    height: 20px;
    background-color: #eee;
    border-radius: 10px;
    overflow: hidden;
    margin-top: 20px;
}

/* Animated bar */
.progress-bar {
    height: 100%;
    width: 0%;
    background-color: #4CAF50;
    animation: load 5s linear forwards;
}

/* Animation */
@keyframes load {
    0% { width: 0%; }
    100% { width: 100%; }
}

